#container {
    margin: auto;
    height: 864px;
    width: 864px;
    border-color: #666;
    border-style: solid;
}

.pixel {
    background-color: #F0F0F0;
    height: 50px;
    width: 50px;
    margin: 2px;
    float: left;
}

.dark_pixel {
    background-color: black;
}

#reset {
    margin: 0 auto;
}